.ps__rail-y,
.ps__rail-x {
  opacity: 1;
  overflow: visible;
  width: auto;
}
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y,
.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  opacity: 1;
}
.ps {
  &__thumb-y {
    opacity: 1;
    width: 1.8rem;
    border-radius: 0;
    right: 0;
    background-color: #fff;
    min-height: 4rem;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-bottom: solid 1px #000;
      border-right: solid 1px #000;
      left: 0.4rem;
    }
    &:before {
      transform: rotate(-135deg);
      top: 0.8rem;
    }
    &:after {
      transform: rotate(45deg);
      bottom: 0.8rem;
    }
  }
}

.ps__rail-y.ps--clicking .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y:hover > .ps__thumb-y {
  background-color: #fff;
  width: 1.8rem;
}
